<article class="col-md-10">
	<div class="row">
		<div class="col-md-12 text-center" role="banner">
			<!--<p class="lead">Do you know how much beer is in your keg?</p>-->
			<div class="banner">&nbsp;</div>
		</div>
	</div>
	<div class="row">
		<section class="col-md-12">
			<h1 class="title"><font face="Arial">KegData Installation</font></h1>
		<h1 class="title"><span style="font-weight: 400">
		<font face="Arial" size="3">The installation of the KegData system is 
		simple. Below are the steps and information to install a system and the 
		tools needed.</font></span></h1>
		<ol>
			<li>
			<p class="title"><font face="Arial" size="5">Tools Required</font></li>
		<li>
		<p class="title"><font face="Arial" size="5">System Layout</font></li>
<li>
<p class="title"><font face="Arial" size="5">Putting in the system</font></li>
<li>
<p class="title"><font face="Arial" size="5">Setting up your hub</font></li>
<li>
<p class="title"><font face="Arial" size="5">Testing your system</font></li>
</ol>
		</section>
		
	</div>
</article>
<p><font face="Arial">&nbsp;</font></p>
<p><b><font size="5" face="Arial">1. TOOLS REQUIRED</font></b></p>
<ol>
	<li><font face="Arial">One large crescent wench</font></li>
	<li><font face="Arial">One power drill with 1/2&quot; metal bit</font></li>
	<li><font face="Arial">One pair of diagonal pliers</font></li>
	<li><font face="Arial">Two pair of vice-grip pliers (optional)</font></li>
	<li><font face="Arial">Phillips Screwdriver, or bit for drill</font></li>
</ol>
<p>&nbsp;</p>
<p><b><font face="Arial" size="5">2. SYSTEM LAYOUT</font></b></p>
<p><font face="Arial">There are two basic types of setups as far as where the 
keg(s) are located, a walk-in cooler or a refrigerator, and how many you have. 
We will deal with both types of installations.</font></p>
<p><font face="Arial"><b>REFRIGERATOR</b></font></p>
<p><font face="Arial">&nbsp;If you are installing this system in a refrigerator it is 
often not necessary to put the Hub Controller into the refrigerator, but rather 
next to it. This all depends on the insulation</font></p>
<p><font face="Arial">characteristics of the refrigerator and if the signal from 
the coupler can reach the hub through the refrigerator wall. You can power up 
the system with the hub outside of the</font></p>
<p><font face="Arial">refrigerator to see if an exterior location will work. If 
not the installation is very similar to the setup for a walk-in.</font></p>
<p><font face="Arial"><b>WALK-IN INSTALLATION</b></font></p>
<p><font face="Arial">There are several things to consider before you start. How 
many couplers will you be installing, antenna location and providing power to 
the unit. We will be looking at a normal 4</font></p>
<p><font face="Arial">keg installation. If you can get power from within the 
walk-in cooler that is best.The first photo below FIG 1 is the simple 
installation of 4 kegs in a typical walk-in.&nbsp; The power for </font></p>
<p><font face="Arial">this system comes from a hole under the Hub Controller 
&quot;HUB&quot;. You will see the grey wire that runs the power to the Power Distribution 
Board &quot;PDB&quot;. From here the power goes </font></p>
<p><font face="Arial">to the kegs and back to the HUB. Also note that in most 
installations the beer line and C02 lines are tied together with zip ties. When 
you install the KegData system you will attach the power wire to the C02 line 
with zip ties.</font></p>
<p><font face="Arial">&nbsp;<img border="0" src="../../Pictures/Beer/Walkin/setup1.jpg" width="955" height="525"></font></p>
<p align="left"><font face="Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font size="5">&nbsp; FIG1</font></font></p>
<p align="left"><font face="Arial">Now in figure 2 below you will see that the 
power wire will go in and the antenna wire out. If you do not want to drill a 
hole in your walk-in you can</font></p>
<p align="left"><font face="Arial">see FIG 3 below.</font></p>
<p>
<img border="0" src="public/mainart/parts/setup4.jpg" width="948" height="552"></p>
<p align="left"><font face="Arial">&nbsp; <font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
FIG</font></font><font face="Arial" size="5">2</font></p>
<p><font face="Arial">In the photo below the power wire goes in and the antenna 
wire comes out through the hole already in the ceiling where the beer lines go 
out. </font></p>
<p><font face="Arial">The HUB and the PDB are next to each other in the walk in. 
The antenna can lay on top of the roof or attached to a wall of structure to get 
the best reception.</font></p>
<p>
<img border="0" src="public/mainart/parts/setup2.jpg" width="930" height="677"></p>
<p><font face="Arial">&nbsp;</font></p>
<p align="left"><font face="Arial">&nbsp; <font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
FIG</font></font><font face="Arial" size="5">3</font></p>
<p align="left"><b><font face="Arial">THE POWER DISTRIBUTION SYSTEM</font></b></p>
<p align="left"><font face="Arial">There are three items that can be used to 
provide power to the system components, the HUB and the Couplers. There is the 3 
way splitter, the 8 port</font></p>
<p align="left"><font face="Arial">power distribution board &quot;PDB&quot;&nbsp; and the 
24 port PDB. Depending on the number of kegs, you can chose the appropriate part 
or</font></p>
<p align="left"><font face="Arial">combination of parts to keep your wiring 
organized. All three of the power distribution items can be &quot;daisy chained&quot;. In 
other words if you had 4 kegs on one wall </font></p>
<p align="left"><font face="Arial">and 8 on the other, you would use two 8 port 
PDBs as shown in FIG 4 below. You would also need to order the power jumper wire 
shown in yellow.</font></p>
<p align="left">
<img border="0" src="../../Pictures/Beer/Walkin/Assembly3.jpg" width="610" height="572"></p>
<p align="left"><font size="5" face="Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
FIG 4</font></p>
<p align="left"><font face="Arial">Now you should know what you need as far as 
the power distribution system is concerned. Remember that the green power wires</font></p>
<p align="left"><font face="Arial">to each of the couplers will need to be zip 
tied to the C02 lines. You can see an installation below in FIG 5, this makes 
for a nice clean installation. </font></p>
<p align="left"><font face="Arial">You will need to estimate the length of the 
wires shown in green, FIG 4. The standards are 12' and 18' lengths. There is a 
3' wire to go from the </font></p>
<p align="left"><font face="Arial">PDB to the HUB. If you want a longer wire you 
will need to select the proper one for your application.</font></p>
<p align="left">
<img border="0" src="public/mainart/parts/tonykegs.jpg" width="838" height="1221"></p>
<p align="left"><font size="5" face="Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
FIG 5</font></p>
<p align="left"><font face="Arial">Figure 5 above shows an installation at a 
restaurant. You can see how clean the installation is and how the wires are 
attached to the C02 lines.</font></p>
<p align="left"><b><font face="Arial" size="5">3. PUTTING IN THE SYSTEM</font></b></p>
<p align="left"><b><font face="Arial" size="4">Step 1</font></b></p>
<p align="left"><font face="Arial">The first step will be to shut off the C02. 
You can also use the two needle nose vice grips (optional tools) to squeeze off 
the C02 line and beer</font></p>
<p align="left"><font face="Arial">line. </font></p>
<p align="left"><b><font face="Arial" size="4">Step 2</font></b></p>
<p align="left"><font face="Arial">Uncoupler the keg and take the old keg 
coupler off of the keg.</font></p>
<p align="left"><b><font face="Arial" size="4">Step 3</font></b></p>
<p align="left"><font face="Arial">Remove the beer line and C02 line from the 
old coupler and set it to the side. In your kit you will have a new C02 check 
valve and a washer for the top beer line out. </font></p>
<p align="left"><font face="Arial">&nbsp;<img border="0" src="public/mainart/parts/KDM-01-1032.jpg" width="59" height="47">
</font>
<img border="0" src="public/mainart/parts/KDM-01-1010.jpg" width="66" height="59"></p>
<p align="left"><b><font color="#FF0000">DO NOT FORGET TO PUT THESE IN!!</font></b>
<font face="Arial">You can also use the old ones if they are in good condition.</font></p>
<p align="left"><b><font face="Arial" size="4">Step 4</font></b></p>
<p align="left"><font face="Arial">Reattach up the beer line out to the top of 
the coupler and the C02 line in. Make sure the washer seats properly. Repeat 
this until all couplers are replaced.</font></p>
<p align="left"><b><font face="Arial" size="4">Step 5</font></b></p>
<p align="left"><font face="Arial">Put the new KegData couplers back on the kegs 
and push the handle(s) down to retap the kegs. You are now done with the coupler 
section.</font></p>
<p align="left"><b><font face="Arial" size="4">Step 6</font></b></p>
<p align="left"><font face="Arial">Select the spot to put your HUB from the 
guidance above, (BOOKMARK). Drill two holes in the wall, 1/16&quot; in diameter and 
3&quot; apart, one directly below the other. </font></p>
<p align="left"><font face="Arial">Put in the two screws provided leaving them 
sticking out about 1/8&quot;. You can adjust this distance after you test fit the 
HUB.</font></p>
<p align="left"><font face="Arial">Mount the hub controller to the wall by 
sliding down over the two screws. </font></p>
<p align="left"><b><font face="Arial" size="4">Step 7</font></b></p>
<p align="left"><font face="Arial">Now we need to mount your PDB. It needs to be 
within 3 feet of the HUB if you want to use the factory 3' wire. If you are 
using the 3 way splitter there is no mounting. If you </font></p>
<p align="left"><font face="Arial">are using the 8 PDB just mount with the two 
screws provided through the tabs diagonally. The other holes are provided incase 
the board is damaged and a tab is broken off.</font></p>
<p align="left"><font face="Arial">On the&nbsp; 24 port boards, drill two holes 
in the wall, 1/16&quot; in diameter and 6&quot; apart, one directly below the other.&nbsp; 
Put in the two screws provided leaving them sticking out about 1/8&quot;. </font></p>
<p align="left"><font face="Arial">You can adjust this distance after you test 
fit the 24 port PDB.</font></p>
<p align="left"><b><font face="Arial" size="4">Step 8</font></b></p>
<p align="left"><font face="Arial">If you are using more that one power 
distribution device you will now need to run a power wire between the two or 
more devices. These are optional, be sure you have ordered these.</font></p>
<p align="left"><font face="Arial">These power wires have a bigger end than the 
wires that go to the couplers so they are not interchangeable. </font></p>
<p align="left"><b><font face="Arial" size="4">Step 9</font></b></p>
<p align="left"><font face="Arial">Now run the wires from the couplers to the 
PDBs or splitters, use the straight end at the coupler. Use the zip ties to 
attach the power with to the C02 lines. Bunch extra cable with a zip tie.</font></p>
<p align="left"><b><font face="Arial" size="4">Step 10</font></b></p>
<p align="left"><font face="Arial">If you have not done so yet, run the power 
wire form the PDB or splitter to the HUB.</font></p>
<p align="left"><b><font face="Arial" size="4">Step 11</font></b></p>
<p align="left"><font face="Arial">You should have already decided where you are 
bringing in the power, from a wall or through the roof, or from within the 
walk-in if it is available. Run the power wire to the PDB or splitter. </font>
</p>
<p align="left"><b><font face="Arial" size="4">Step 12</font></b></p>
<p align="left"><font face="Arial">Now you will run the antenna out through a 
selected hole in the walk-in. This antenna must be able to reach a Wifi signal. 
If it cannot reach a signal it will not be able to send data. Now</font></p>
<p align="left"><font face="Arial">attach the antenna to the HUB. This completes 
the installation of your system.</font></p>
<p align="left">&nbsp;</p>
<p align="left"><b><font face="Arial" size="5">4. SETTING UP YOUR HUB</font></b></p>
<p align="left"><b><font face="Arial" size="4">Step 1</font></b></p>
<p align="left"><font face="Arial">Your system should now be installed. You can 
now power it up. You will see a series of lights start flashing on the hub and 
also on the couplers, this is normal and we will talk about what these lights 
mean in a minute. </font></p>
<p align="left"><b><font face="Arial" size="4">Step 2</font></b></p>
<p align="left"><font face="Arial">
<img border="0" src="public/mainart/parts/KDE-02-1000.jpg" width="292" height="273"></font></p>
<p align="left"><font face="Arial">Your HUB will have lights that will start 
blinking. The right column of lights D, E &amp; F deal with the keg communications 
and A, B &amp; C deal with the communications to the internet, we will deal with the 
lights in more detail later. You will now push in the Internet Setup red button 
and hold it in until lights A &amp; C start blinking a Red and Green alternately.</font></p>
<p align="left"><font face="Arial">YOU TUBE VIDEO</font></p>
<p align="left"><b><font face="Arial" size="4">Step 3</font></b></p>
<p align="left"><font face="Arial">Now you will go to your laptop or smartphone 
to finish the set up. We will start with a smart phone. Go to your Wifi 
connections and you should see KegData. If not scan again. If you still do not 
see it go back and check your HUB to be sure A &amp; C lights are blinking Green and 
Red back and forth. If not go back to Step 2. If there is a password for KegData 
it will be KegData123. You should be able to connect. REMEMBER that your KegData 
antenna must not only be able to access your phone or laptop but it must also be 
able to access your Wifi network. If you are still having problems here 
disconnect the power to your hub and repeat step 2. If you do not see the 
KegData on the network you may not be in a place where you cannot contact the 
antenna. You might want to move positions. </font></p>
<p align="left">
<img border="0" src="public/mainart/Screenshot_2015-02-23-16-32-06.png" width="336" height="592"></p>
<p align="left"><font face="Arial">Now that you are connected to the HUB light B 
will be blinking yellow showing you re connected to the HUB.</font></p>
<p align="left"><b><font face="Arial" size="4">Step 4</font></b></p>
<p align="left"><font face="Arial">Now that you are connected to the hub you 
will now login to the setup screen. It looks like the photo below. On a 
Smartphone you will go to your internet browser and type config and then go or 
enter. On a laptop you would enter IP address 192.168.1.254. You can also try 
typing config in the browser bar on your laptop. If you are on your laptop you 
can sometimes just close your browser and reopen and this page will show up. If 
you are using multiple tabs this may show up on one of the other tabs.</font></p>
<p align="left"><font face="Arial">When you look at the image below you will see 
the Refresh List. Click this and the hub will look for your Wifi network at your 
business of home. If it does not find it that means that your antenna can see 
your phone but not your Wifi LAN network. You would need to relocate your 
antenna. </font></p>
<p align="left"><font face="Arial">&nbsp;</font><img border="0" src="public/mainart/Screenshot_2015-02-23-16-33-59.png" width="532" height="946"></p>
<p align="left"><font face="Arial">Now you will see the image below Enter your 
password and hit Save &amp; Reboot button. </font></p>
<p align="left"><font face="Arial">&nbsp;<img border="0" src="public/mainart/Screenshot_2015-02-23-16-37-54.png" width="528" height="932"></font></p>
<p align="left"><b><font face="Arial" size="4">Step 5</font></b></p>
<p align="left"><font face="Arial">Your system should now be connected to your 
network. You should have a slow blinking green light A on the HUB. You may also 
get some sporadic yellow lights blinking on HUB light B. This is normal during 
startup. You should also see a blue light on HUB light E and the Coupler light 
A. These show that they are talking to each other. </font></p>
<p align="left"><b><font face="Arial" size="4">Step 6</font></b></p>
<p align="left"><font face="Arial">Unplug the system for a reboot. Wait 15 
seconds and plug the system back in. Time for a beer! The couplers start working 
when they contact beer so you will need to a little beer from each coupler one 
time. When you tap a new keg it will may not register the replacement until you 
open the tap for a few seconds. That depends on how much beer is in the line.</font></p>
<p align="left"><b><font face="Arial" size="4">Step 7</font></b></p>
<p align="left"><font face="Arial">When you pour a beer you will see the yellow 
light B on the HUB blink briefly. This tells you that the HUB just sent 
information to the server.</font></p>
<p align="left"><b><font face="Arial" size="4">Step 8</font></b></p>
<p align="left"><font face="Arial">Now it is time to set up your kegs. When you 
login into the website you will immediately go to your &quot;Dashboard&quot;. You will see 
your keg levels for all couplers that are transmitting. On each coupler there is 
a 6 character string. This identifies that coupler. If you have a lot of kegs it 
will save time to write down this number and the type of keg and contents for 
each of the couplers. Go to keg setup on your dashboard and set up each of your 
kegs. If you want to use the auto notification portion, you will need to see if 
your distributor is registered. If not, ask them to register so they can see 
your keg levels.</font></p>
<p align="left"><b><font face="Arial" size="5">4. TESTING YOUR SYSTEM</font></b></p>
<p align="left"><font face="Arial">Your system should be working now. Every time 
you pour a beer you will see light B on your HUB blink yellow for a a brief 
moment and this will show up on your web page.&nbsp; Everything form here is 
pretty much on auto</font></p>
<p align="left">&nbsp;</p>
<p align="left">&nbsp;</p>
<p align="left">&nbsp;</p>
<p align="left">&nbsp;</p>
<p align="left">&nbsp;</p>
<p align="left">&nbsp;</p>
<p align="left">&nbsp;</p>
