<table class="table">
<tr><td><i class="fa fa-check-square" aria-hidden="true"></i></td><td>Power Supply</td></tr>
<tr><td><i class="fa fa-check-square" aria-hidden="true"></i></td><td>Hub Controller</td></tr>
<tr><td><i class="fa fa-check-square" aria-hidden="true"></i></td><td>Antenna</td></tr>
<tr><td><i class="fa fa-check-square" aria-hidden="true"></i></td><td>3 way splitter</td></tr>
<tr><td><i class="fa fa-check-square" aria-hidden="true"></i></td><td>one 12' coupler power wire</td></tr>
<tr><td><i class="fa fa-check-square" aria-hidden="true"></i></td><td>one 3' hub power wire</td></tr>
<tr><td><i class="fa fa-check-square" aria-hidden="true"></i></td><td>one "D" style coupler</td></tr>
</table>
<p class="lead">
Difference between USA and Euro is the Euro has the European coupler for beers like Heineken. This is standard US Sankey
</p>
