#welcome-block{
    margin-bottom:10px;
}

#main-body{
    margin-top:150px;
    padding-top:20px;   
}


//Table Sorting
th.header { 
    cursor: pointer; 
    padding-left: @padding-small-horizontal; 
    span{
        padding-left:@padding-small-horizontal/2;
       .glyphicon; 
       .glyphicon-resize-vertical;
   }
} 

th.headerSortUp { 
   span{
        padding-left:@padding-small-horizontal/2;
       .glyphicon;
       .glyphicon-arrow-down;
   }
} 

th.headerSortDown { 
    span{
        padding-left:@padding-small-horizontal/2;
        .glyphicon;
        .glyphicon-arrow-up;
    }
} 

.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
.fitler-table .quick:hover { text-decoration: underline; }


//Table Filters