/*Header*/
    #header{
    	.transition(all 0.4s ease-out);
    }
    .banner{
        height:245px;
        background-image:url(/img/circle-shadow.png);
        background-position:center bottom;
        background-repeat:no-repeat;
    }
    
    #page-header .navbar, #dashboard-header .navbar{
        border-top:0px;
        border-left:0px;
        border-right:0px;
    }
    #dashboard-header .navbar{margin-bottom:0px;}
    #dashboard-header{
        position:relative;
        z-index:2;
    }
    #dashboard-header #logout-btns{
        padding-top:@padding-small-vertical;
    }
    
    #dashboard-header #welcome-block{
        padding-top:@padding-base-vertical;
        position:relative;
    }
    
    #dashboard-header h4{
        margin-bottom:@padding-small-vertical;
    }
    
    #dashboard-header .menu-button{
        display:block;
        @media (min-width: @screen-lg-min) { 
            display:none;
        }
    }
    #dashboard-header #logout-btns{
        display:none;
        @media (min-width: @screen-lg-min) { 
            display:block;
        }
    }
    
    #logout-btns {
        position:absolute;
        left:0;
        top:22px;
        z-index:1;
        .btn-group-vertical;
         @media (min-width: @screen-lg-min) { 
            position:relative;
            top:0;
            width:auto;
            .btn-group, .btn{
                float: left;
                width:auto;
                margin-top:0px !important;
            }
         }       
    }

/*Footer */
footer{
    border-top:1px solid @gray-lighter;
    font-size:@font-size-small;
    margin-top:@padding-large-horizontal;
    padding:@padding-large-horizontal;
}

/*Body Content*/
    //Add top margin to accomadate sticky header
    #body-content{
        margin-top:@padding-large-vertical;
    }
    
    #dashboard.container-fluid{
    padding:@padding-large-horizontal*2;   
    }
        
    #dashboard .panel{
        box-shadow:rgba(200,200,200,.5) 0 0 2px;   
        .panel-heading{
            box-shadow:rgba(200,200,200,.5) 0 2px 3px;   
        }
    }
    
    #dashboard #global-errors{
        margin-top:@padding-large-vertical;
    }
    
    .divPageContent{
        padding-top:@padding-base-vertical;
    }
    
    .divTitleText{
        border-bottom:1px solid @brand-primary;
    }
    
    .title{
        border-bottom:1px solid @gray-lighter;
        padding-bottom:@padding-base-vertical;
    }
    
    .left-nav{
        border-right:1px solid @gray-lighter;
    }
    .tab-content{
        padding-top:@padding-base-vertical;
        padding-bottom:@padding-base-vertical;
    }
    
    #reports .row{
        margin-top:@padding-base-vertical;
        margin-bottom:@padding-base-vertical;
    }

/*Social Menu*/
    //Social Navigation
    .social-sidebar{
      border-radius:4px;
    }
    .social-sidebar a{
      background:@brand-primary;
      border-radius:4px;
      color:#fff;
      font-size:20px;
      margin:@padding-base-vertical @padding-small-horizontal*.5;
      padding:@padding-base-vertical @padding-small-horizontal;
    }
    .social-sidebar a:hover{
      text-decoration:none;
      background:darken(@brand-primary,10%);
    }
    
/*Advertisement Menu*/
    #ads{
        img{
            width:100%;
        }
    }
    
    .adBlock{
        border:1px solid @gray;
        margin:@padding-base-vertical 0 0 0;
        padding:@padding-base-vertical @padding-base-horizontal;
        .nav{
            margin-bottom:@padding-base-vertical;
        }
    }

/*Dashboard Menu*/
    #dashboard-menu.expand{
        left:-140px;
        border-right:1px solid @gray-lighter;
        .glyphicon{
            .glyphicon-chevron-right;
        }
        #dashboard-nav{
            display:none;
        }
        @media (min-width: @screen-md-min) { 
            left:0;
            .glyphicon{
                .glyphicon-chevron-left;
            }
            #dashboard-nav{
                display:block;
            }
    
        }
    }
    
    #dashboard-menu.expand.collapse{
        display:block;
        left:0;
         .glyphicon{
            .glyphicon-chevron-right;
        }
        #dashboard-nav{
            display:block;
        }
    
        @media (min-width: @screen-md-min) { 
            left:-140px;
             .glyphicon{
                .glyphicon-chevron-left;
            }
            #dashboard-nav{
                display:none;
            }
        }
    }
    
    #dashboard.expand{
        margin-left:35px;
        @media (min-width: @screen-md-min) { 
            margin-left:175px;
        }
    }
    
    #dashboard.expand.collapse{
        display:block;
        margin-left:175px;
        @media (min-width: @screen-md-min) { 
            margin-left:35px;
        }
    }
    #dashboard-menu{
        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%,  rgba(247,247,247,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)),  color-stop(100%, rgba(247,247,247,1)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,  rgba(247,247,247,1) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,  rgba(247,247,247,1) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,  rgba(247,247,247,1) 100%);
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,  rgba(247,247,247,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=1 );
        position:fixed;
        top:0px;
        height:100%;
        padding-top:54px;
        width:175px;
        z-index:1;
    
    }
    
    #dashboard-menu li, #dashboard-menu .menu-title{
        padding:@padding-base-vertical @padding-base-horizontal;
    }
    
    #dashboard-menu a:hover{
        background:@brand-primary;
        color:#fff;
    }
    #dashboard-menu .sub-nav li{
        padding:0;
    }
    #dashboard-menu .sub-nav li:last-child{
        border-bottom:1px solid @gray-lighter;
    }
    #dashboard-menu li .fa{
        color:@brand-primary;
        padding: 10px 0;
    }
    
    #dashboard-menu .menu-title{
        color:@brand-primary;
    }

/*E-Commerce Menu*/
    .side-menu{
        border:1px solid @gray-lighter;
    }
    .side-menu .title{
        background:@gray-lighter;
        font-weight:bold;
        font-size:@font-size-large;
        text-align:center;
    }
    
    .side-menu .subtitle{
        font-weight:bold;
        padding-left:@padding-small-horizontal;
    }

/*Password form*/
    .password-well{
        background:#fff;
        margin-top:20px;
    }
    .pwForm .input-group{
        margin:auto;
    }
    
    .pwForm .input-group-addon{
        width:150px;
    }
    
/*Forms*/
    .input-group-addon .fa{margin-right:@padding-small-horizontal/2;}
    
    .fieldset-group{
       border: 1px solid #c0c0c0;
        margin: 0 2px;
        padding: 0.35em 0.625em 0.75em; 
        legend{
            padding:0 @padding-small-horizontal;
            border-bottom:0px;
        }
    }

/*Utilities*/
    .divider{
        border-top:1px solid @gray-lighter;
    }
    
    .clickable{
        cursor:pointer;
        &.box{
            border:1px solid @gray-lighter;
            border-radius:3px;
            box-shadow:rgba(240,240,240,.5) 0 0 5px;
            margin-top:@padding-small-horizontal;
            padding:@padding-base-horizontal;
            &:hover{
                background:rgba(240,240,240,.5);
                box-shadow:#333 0 0 3px inset;
            }
            &.selected{
                background:@brand-primary;
                color:#fff;
            }
        }
    }

    .btn .caret{
        margin-left:@padding-small-horizontal;
    }

    .headroom-top{
        margin-top:@padding-large-horizontal;
    }

    .vertical-text{
        transform: rotate(270deg);
        transform-origin: center top 0;
    }
/*Table Sorting & Filters*/
    //Table Sorting
    th.header { 
        cursor: pointer; 
        padding-left: @padding-small-horizontal; 
        span{
            padding-left:@padding-small-horizontal/2;
           .glyphicon; 
           .glyphicon-resize-vertical;
       }
    } 
    
    th.headerSortUp { 
       span{
            padding-left:@padding-small-horizontal/2;
           .glyphicon;
           .glyphicon-arrow-down;
       }
    } 
    
    th.headerSortDown { 
        span{
            padding-left:@padding-small-horizontal/2;
            .glyphicon;
            .glyphicon-arrow-up;
        }
    } 
    
    .filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
    .fitler-table .quick:hover { text-decoration: underline; }

/*Typeahead*/
    .twitter-typeahead{
        line-height: 1.42857143;
        width:100%;
    }

    .tt-query {
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
         -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    
    .tt-hint {
      color: #999
    }
    
    .tt-dropdown-menu {
      width: 422px;
      margin-top: 12px;
      padding: 8px 0;
      background-color: #fff;
      border: 1px solid @brand-primary;
      -webkit-border-radius: @border-radius-large;
         -moz-border-radius: @border-radius-large;
              border-radius: @border-radius-large;
      -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
         -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
              box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }
    
    .scrollable-dropdown-menu .tt-dropdown-menu {
      max-height: 250px;
      overflow-y: auto;
    }
    
    .tt-suggestion {
      padding: 3px 20px;
      font-size: 18px;
      line-height: 24px;
    }
    
    .tt-suggestion.tt-cursor {
      color: #fff;
      background-color: @brand-primary;
    
    }
    
    .tt-suggestion p {
      margin: 0;
    }
    
    .gist {
      font-size: 14px;
    }

.navbar-gray{
    background-color:lighten(@gray-lighter, 5%);
    border: 1px solid @gray-lighter;
    box-shadow: 0px 0px 2px rgba(200,200,200,.5);
}
.navbar-gray .navbar-form.navbar-right:last-child{
    margin-right:0px;
}